n8n-gmail-llm-sheets.json
{
  "name": "n8n-gmail-llm-sheets",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please summarize the following email in 2–3 short sentences in English. Return plain text only.\n\nFrom: {{ $json.from || ($json.payload?.headers||[]).filter(h => h.name==='From')[0]?.value || 'unknown' }}\nSubject: {{ $json.subject || ($json.payload?.headers||[]).filter(h => h.name==='Subject')[0]?.value || 'unknown' }}\nContent:\n{{ $json.textPlain || $json.snippet || $json.textHtml }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        112,
        -16
      ],
      "id": "7016f811-8253-442f-8d41-f57887214700",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        192
      ],
      "id": "e8a959aa-3124-487d-89b5-a5e775d53612",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9z796Fgni7LLhde7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1signOp98gj0GBmiDqsJ8XJoXW4oum9nR8veKaeNLMg8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "0",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json[\"From\"].split(\"<\")[0].trim().replace(/\\b\\w/g, c => c.toUpperCase()) }}\n",
            "email": "={{ ($json[\"From\"].match(/<([^>]+)>/) || [])[1] }}",
            "message": "={{$json[\"Subject\"]}}",
            "text": "={{$json.snippet}}{{ $json[\"text\"].trim() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        -16
      ],
      "id": "3538e44e-e684-433e-acb8-73f3db8c5873",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "liMTorXkYsOt5zOi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "subject:\"Test Email\""
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        -240
      ],
      "id": "42e1bec0-a0b1-4c1e-93ea-725ebad99d0f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "7NQaodfaJ5qnR4Hj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        -224
      ],
      "id": "5d66a4c9-9702-4b0a-9564-c5e260286f1e",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "adbbf46e-a3a4-455f-bf02-b5404474d53b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "760d06a27231c9918d6c20e92cfb3fbe755bd785256f5977066815aad5c03ccc"
  },
  "id": "T9aSaq5tTwy6bMnY",
  "tags": []
}